<!-- Popup Backdrop -->
<div 
  *ngIf="isVisible && config.showBackdrop" 
  class="popup-backdrop"
  (click)="onBackdropClick($event)">
  
  <!-- Popup Content -->
  <div class="popup-content" [ngClass]="[sizeClass, heightClass]">
    <!-- Popup Header -->
    <div class="popup-header" *ngIf="config.title">
      <div class="d-flex justify-content-between align-items-center w-100">
        <h4 class="popup-title mb-0">
          <i *ngIf="config.icon" [class]="config.icon" class="me-2"></i>
          {{ config.title }}
        </h4>
        <button 
          *ngIf="config.showCloseButton"
          type="button" 
          class="btn-close" 
          [attr.aria-label]="'GROCERY_LISTS.CLOSE' | translate"
          (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    
    <!-- Popup Body -->
    <div class="popup-body">
      <ng-container *ngIf="bodyTemplate; else defaultBody">
        <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultBody>
        <ng-content></ng-content>
      </ng-template>
    </div>

    <!-- Popup Footer -->
    <div class="popup-footer" *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </div>
</div>
