<!-- Popup Backdrop -->
<div 
  *ngIf="isVisible && config.showBackdrop" 
  class="popup-backdrop"
  (click)="onBackdropClick($event)">
  
  <!-- Popup Content -->
  <div class="popup-content" [ngClass]="[sizeClass, heightClass]">
    <!-- Popup Header -->
    <div class="popup-header" *ngIf="headerTemplate || config.title">
      <ng-container *ngIf="headerTemplate; else defaultHeader">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultHeader>
        <h4 class="popup-title">{{ config.title }}</h4>
        <button 
          *ngIf="config.showCloseButton"
          type="button" 
          class="btn-close" 
          aria-label="Close"
          (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </ng-template>
    </div>
    
    <!-- Popup Body -->
    <div class="popup-body">
      <ng-container *ngIf="bodyTemplate; else defaultBody">
        <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultBody>
        <ng-content></ng-content>
      </ng-template>
    </div>

    <!-- Popup Footer -->
    <div class="popup-footer" *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </div>
</div>
