<!-- Week Calendar - Full Screen -->
<app-week-calendar 
  [selectedWeek]="selectedWeek"
  [recipeAssignments]="recipeAssignments"
  [selectedMealSlot]="selectedMealSlot"
  (weekChanged)="onWeekChanged($event)"
  (mealSlotClicked)="onMealSlotClicked($event.mealType, $event.date)">
</app-week-calendar>

<!-- Recipe Selection Dialog -->
<app-recipe-selection-dialog
  [isVisible]="showRecipeDialog"
  [selectedMealType]="selectedMealType"
  [selectedDate]="selectedDate"
  (recipeSelected)="onRecipeSelected($event)"
  (dialogClosed)="onDialogClosed()">
</app-recipe-selection-dialog>
