<div class="week-menu-container">
  <div class="week-menu-content">
    <!-- Saving Indicator -->
    <div *ngIf="isSaving" class="saving-indicator">
      <i class="fas fa-spinner fa-spin"></i>
      <span>Saving week menu...</span>
    </div>

    <!-- Loading Indicator -->
    <div *ngIf="isCalendarLoading" class="loading-indicator">
      <div class="spinner"></div>
    </div>

    <!-- Two Column Layout -->
    <div *ngIf="!isCalendarLoading" class="two-column-layout">
      <!-- Left Column: Week Calendar -->
      <div class="left-column">
        <app-week-calendar 
          [selectedWeek]="selectedWeek"
          [recipeAssignments]="recipeAssignments"
          [selectedMealSlot]="selectedMealSlot"
          (weekChanged)="onWeekChanged($event)"
          (recipeDropped)="onRecipeDropped($event)"
          (recipeRemoved)="onRecipeRemoved($event)"
          (servingCountChanged)="onServingCountChanged($event)">
        </app-week-calendar>
      </div>

      <!-- Right Column: Recipe Grid -->
      <div class="right-column">
        <app-recipe-grid
          [recipes]="recipes"
          [isLoadingRecipes]="isLoadingRecipes"
          [errorMessage]="errorMessage"
          (recipeSelected)="onRecipeSelected($event)">
        </app-recipe-grid>
      </div>
    </div>

    <!-- Grocery List Dialog -->
    <app-grocery-list-dialog
      [isVisible]="showGroceryListDialog"
      [recipeAssignments]="recipeAssignments"
      (groceryListCreated)="onGroceryListCreated($event)"
      (dialogClosed)="onGroceryListDialogClosed()">
    </app-grocery-list-dialog>
  </div>
</div>
