// Week menu component styles - Full Screen
:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  
  @media (max-width: 400px) {
    margin-bottom: 0.25rem !important;
    margin-top: 0.25rem !important;
    font-size: 1.5rem;
  }
}
